Package: tweak-remove-force-upgrade
Version: 0.9.0
Maintainer: Joonas Trussmann joonas@batman.ee
Description: Prevents accidental force upgrades by connecting to Fly App
Architecture: armv7-3.2
Depends: dinit
