Package: tweak-prevent-force-upgrade
Version: 0.9.2
Maintainer: Joonas Trussmann joonas@batman.ee
Description: Prevents accidental force upgrades on Goggles v2 by connecting to Fly App in DJI FPV Drone mode.
Architecture: pigeon-glasses-v2
Depends: dinit
